.hero {
    background-color: var(--surface-hero);
}

.hero-title {
    font-size: 56px;
    line-height: 1.07143;
    text-align: center;
    color: var(--surface-primary);
}

.hero-btn {
    background-color: var(--brand-default);
    color: var(--surface-primary);
    font-weight: 500;
    line-height: 1.5;
}

.hero-btn:hover, .hero-btn:focus {
    background-color: var(--brand-pressed);
}