.portfolio {

}

.portfolio-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11111;
}

.portfolio-item {

}

.portfolio-list {

}

.portfolio-item-img {

}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.portfolio-item-desc {
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
}
